doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="panel.css")
  body
    h1 System Colors

    ul
      li(style="background: ActiveText") ActiveText
        span.light ActiveText
      li(style="background: ButtonFace") ButtonFace
        span.light ButtonFace
      li(style="background: ButtonText") ButtonText
        span.light ButtonText
      li(style="background: Canvas") Canvas
        span.light Canvas
      li(style="background: CanvasText") CanvasText
        span.light CanvasText
      li(style="background: Field") Field
        span.light Field
      li(style="background: FieldText") FieldText
        span.light FieldText
      li(style="background: GrayText") GrayText
        span.light GrayText
      li(style="background: Highlight") Highlight
        span.light Highlight
      li(style="background: HighlightText") HighlightText
        span.light HighlightText
      li(style="background: LinkText") LinkText
        span.light LinkText
      li(style="background: Mark") Mark
        span.light Mark
      li(style="background: MarkText") MarkText
        span.light MarkText
      li(style="background: VisitedText") VisitedText
        span.light VisitedText

    h1 Deprecated system color keywords

    ul
      li(style="background: ActiveBorder") ActiveBorder
        span.light ActiveBorder
      li(style="background: ActiveCaption") ActiveCaption
        span.light ActiveCaption
      li(style="background: AppWorkspace") AppWorkspace
        span.light AppWorkspace
      li(style="background: Background") Background
        span.light Background
      li(style="background: ButtonHighlight") ButtonHighlight
        span.light ButtonHighlight
      li(style="background: ButtonShadow") ButtonShadow
        span.light ButtonShadow
      li(style="background: CaptionText") CaptionText
        span.light CaptionText
      li(style="background: InactiveBorder") InactiveBorder
        span.light InactiveBorder
      li(style="background: InactiveCaption") InactiveCaption
        span.light InactiveCaption
      li(style="background: InactiveCaptionText") InactiveCaptionText
        span.light InactiveCaptionText
      li(style="background: InfoBackground") InfoBackground
        span.light InfoBackground
      li(style="background: InfoText") InfoText
        span.light InfoText
      li(style="background: Menu") Menu
        span.light Menu
      li(style="background: MenuText") MenuText
        span.light MenuText
      li(style="background: Scrollbar") Scrollbar
        span.light Scrollbar
      li(style="background: ThreeDDarkShadow") ThreeDDarkShadow
        span.light ThreeDDarkShadow
      li(style="background: ThreeDFace") ThreeDFace
        span.light ThreeDFace
      li(style="background: ThreeDHighlight") ThreeDHighlight
        span.light ThreeDHighlight
      li(style="background: ThreeDLightShadow") ThreeDLightShadow
        span.light ThreeDLightShadow
      li(style="background: ThreeDShadow") ThreeDShadow
        span.light ThreeDShadow
      li(style="background: Window") Window
        span.light Window
      li(style="background: WindowFrame") WindowFrame
        span.light WindowFrame
      li(style="background: WindowText") WindowText
        span.light WindowText

    h1 Mozilla System Color Extensions

    ul
      li(style="background: -moz-ButtonDefault") -moz-ButtonDefault
        span.light -moz-ButtonDefault
      li(style="background: -moz-ButtonHoverFace") -moz-ButtonHoverFace
        span.light -moz-ButtonHoverFace
      li(style="background: -moz-ButtonHoverText") -moz-ButtonHoverText
        span.light -moz-ButtonHoverText
      li(style="background: -moz-CellHighlight") -moz-CellHighlight
        span.light -moz-CellHighlight
      li(style="background: -moz-CellHighlightText") -moz-CellHighlightText
        span.light -moz-CellHighlightText
      li(style="background: -moz-Combobox") -moz-Combobox
        span.light -moz-Combobox
      li(style="background: -moz-ComboboxText") -moz-ComboboxText
        span.light -moz-ComboboxText
      li(style="background: -moz-Dialog") -moz-Dialog
        span.light -moz-Dialog
      li(style="background: -moz-DialogText") -moz-DialogText
        span.light -moz-DialogText
      li(style="background: -moz-dragtargetzone, -moz-EvenTreeRow") -moz-dragtargetzone, -moz-EvenTreeRow
        span.light -moz-dragtargetzone, -moz-EvenTreeRow
      li(style="background: -moz-html-CellHighlight") -moz-html-CellHighlight
        span.light -moz-html-CellHighlight
      li(style="background: -moz-html-CellHighlightText") -moz-html-CellHighlightText
        span.light -moz-html-CellHighlightText


      li(style="background: -moz-MenuHover") -moz-MenuHover
        span.light -moz-MenuHover
      li(style="background: -moz-MenuHoverText") -moz-MenuHoverText
        span.light -moz-MenuHoverText
      li(style="background: -moz-MenuBarText") -moz-MenuBarText
        span.light -moz-MenuBarText
      li(style="background: -moz-MenuBarHoverText") -moz-MenuBarHoverText
        span.light -moz-MenuBarHoverText
      li(style="background: -moz-nativehyperlinktext") -moz-nativehyperlinktext
        span.light -moz-nativehyperlinktext
      li(style="background: -moz-OddTreeRow") -moz-OddTreeRow
        span.light -moz-OddTreeRow

      li(style="background: -moz-mac-accentdarkestshadow") -moz-mac-accentdarkestshadow
        span.light -moz-mac-accentdarkestshadow
      li(style="background: -moz-mac-accentdarkshadow") -moz-mac-accentdarkshadow
        span.light -moz-mac-accentdarkshadow
      li(style="background: -moz-mac-accentface") -moz-mac-accentface
        span.light -moz-mac-accentface
      li(style="background: -moz-mac-accentlightesthighlight") -moz-mac-accentlightesthighlight
        span.light -moz-mac-accentlightesthighlight
      li(style="background: -moz-mac-accentlightshadow") -moz-mac-accentlightshadow
        span.light -moz-mac-accentlightshadow
      li(style="background: -moz-mac-accentregularhighlight") -moz-mac-accentregularhighlight
        span.light -moz-mac-accentregularhighlight
      li(style="background: -moz-mac-accentregularshadow") -moz-mac-accentregularshadow
        span.light -moz-mac-accentregularshadow
      li(style="background: -moz-mac-chrome-active") -moz-mac-chrome-active
        span.light -moz-mac-chrome-active
      li(style="background: -moz-mac-chrome-inactive") -moz-mac-chrome-inactive
        span.light -moz-mac-chrome-inactive
      li(style="background: -moz-mac-focusring") -moz-mac-focusring
        span.light -moz-mac-focusring
      li(style="background: -moz-mac-menuselect") -moz-mac-menuselect
        span.light -moz-mac-menuselect
      li(style="background: -moz-mac-menushadow") -moz-mac-menushadow
        span.light -moz-mac-menushadow
      li(style="background: -moz-mac-menutextselect") -moz-mac-menutextselect
        span.light -moz-mac-menutextselect

      li(style="background: -moz-win-communicationstext") -moz-win-communicationstext
        span.light -moz-win-communicationstext
      li(style="background: -moz-win-mediatext") -moz-win-mediatext
        span.light -moz-win-mediatext
      li(style="background: -moz-win-accentcolor") -moz-win-accentcolor
        span.light -moz-win-accentcolor
      li(style="background: -moz-win-accentcolortext") -moz-win-accentcolortext
        span.light -moz-win-accentcolortext

    h1 Mozilla Color Preference Extensions

    ul
      li(style="background: -moz-activehyperlinktext") -moz-activehyperlinktext
        span.light -moz-activehyperlinktext
      li(style="background: -moz-default-background-color") -moz-default-background-color
        span.light -moz-default-background-color
      li(style="background: -moz-default-color") -moz-default-color
        span.light -moz-default-color
      li(style="background: -moz-hyperlinktext") -moz-hyperlinktext
        span.light -moz-hyperlinktext
      li(style="background: -moz-visitedhyperlinktext") -moz-visitedhyperlinktext
        span.light -moz-visitedhyperlinktext
